.input-group {
    display:flex;
    flex-direction: column;
    gap: 0.3rem;
    margin-bottom: 1rem;
    min-width: 20rem;
}

.input {
    padding: 0.5rem 0.8rem;
    border: 1px solid #f4f4f8;
    border-radius: 10px;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.25);
    resize: none;
}

.error {
    color: #b80c09;
    margin: 0;
    font-size: 0.9rem;
}