.timer-container {
    min-width: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}

.timer {
    font-size: 3rem;
    margin: 0;
    font-weight: 600;
}